<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Shortcuts for Pi-hole</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Lukas Wolfsteiner. All rights reserved.</string>
	<key>SUPublicEDKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIIGRzCCBDoGByqGSM44BAEwggQtAoICAQC5NCsk8VV3q6zrtBI7V66wtkaL6sHQ
U7z4dDiB5cgvZ+tgd6eHBwjqx7RAPM1IlFgny+4pQzUxQ+taUnK3ILOlPohWy2f4
pY4DaqTcojoiST+stnvjgzrwFpR64ciCMqw6HPcFxSqrIDipNm2AktFYxwbzOrLt
1MvUWe6Qo8sJRyj7HP0n7OfwtrzxQMu2g7U8rjqIOiUeSJDwuM89BKRhLQn3IFto
teuUUvbeuJqZdsWp4N3pZy925Zreu3H04kg//mbeYpouoI9chcJA8SIFNdF95nmf
54kq7rxnJR5BEsUiL1RCW5bLO5XMr7t35fX1IyUpNnJT344DqES3V2xtqzHpX3J0
paJfNqjiMKmpYfXfLAcBPyxXdoJ2/+HQ2fK4f1emOYd3tQUYTUzAMyiaWYNLULU7
lM3lHJitvD3siWXKffqMvTTrHooqU30dj51tyC/HO1NV1PDDhcB2MEBJpt8+9fmn
StG45hUxFMn9lyvgdkPn2SrPMD5biCZe8sB+POJEtHbwWD5ffdYXPVbfWnTWF284
NEEqZrjhrIMPWTNkMD1QoCpHJ+CI5kZkpPuj/U1NcsxKXc28E6koN/nRcwWs6eq6
nUPoJUHV38WO8LVQv3OBcI78H8V4SwzSybHjnSPTKaE/gdp9MhbutOHvBIhlTPgT
xMe3Lvsktj2/dQIhAPQh2pM3/v5Cv69AcKQqxgPfLON0W6SANFLBLGTFSn6jAoIC
AQCWelH5abxmLzCxECmJAm7wS9Y2xmHJrCB8ZB33+0YM1TmsdZtood011ew4n+Bu
VIRj6iKf9u32FbA/64asxQzibpi5nZ3O9i6eKsKCJ9yADAbdZj9+RiQIu/XA2DAz
QGeKFF2D9EQ95D/yRJuXJxssj44Ef5eryXm8mz2i9fJIOsBHk5jEa/ihjxAKzLE9
ZriQLXpjP/52zu+R2swI21m9snIqyzXVN2lIQSfUw+7LGQb2DRKmV4ygc37V94uK
6kaqfkpl5B3vxPLywt5BTJOmT5L6I8OScL0pLOLY9luH8QcxKE6SHC1tWbAa74rd
2ywmqVZRGXyFBrvC0PaS+db5XtmCWgNu5qGwPAxU9CP6AO8iCGdYBRC7q+uKr2O3
hNrw84VR7He0iDFWA8+i7nB03UcVYI5F45mGF/DspNJkSYNy+2jUVNeM9hi0mVI1
3EZOTXkjAmRJAHB8tl5y3hBvxsHD8H9DGMWOgxTMpaJSYmM3c2CRSeFMaa1u4upl
a6TpW3QIXGPqiYopjhZ/HnoGYc2uzoXvquH/2FXW2GNSqN7Q3HsqXcmggHfyawJp
yJ3u1c7X/3aGVBSd7fGOPu6Nyv6p8mcHLhCZlhiXirWFT3s4NEaVEKHTuo7cLCZM
q1ODvvWA4ltWS5xuMI4nG3TPYkUErlF3lEgzJoxvgHNbpgOCAgUAAoICAHIw1dQv
mZO+PYDmpwWuM2eRZgcaWMIVcAPwxuqsaIe9aVOjz8LR622B2CGa9rU7yQqRu7vU
EEb/uF99KVkjfMmzujqxEINmxvGXuAW/OQeBr49mwyVj5wSyLJ04LLu71Me85z20
IaNegEok6yjZdo9rILwn4ha01QvLHEgeSYwKqQFQdwU0UjB8Zj0mKlPYBcEscKwg
fbJ2nlD0TzUTjevAhA74+LHU0EwFQb/g5OmQkiud1f0sE/tazlrUj7uRRDjTMQUp
3sc7F2zmcKyMU0xJpFkUDj7hVk+9SLzYcPZpLQK7jcYC8lV7eOdHvS+cD6gOapGf
DnHyPVcSXWtWzqMk8f0kpcC3bUSdh+K8vuXWGhgJIoPiDuo9Z0DfKhCLBhTcBFvO
KhCa/U3UEJRMfSmDn1wMbtoGNpvnzi2P71r6EAnB7uTLQfQ8KdtBXJcYy3HNsFVO
lNTlrN7mPjEQBg3lv4qa8dIgNuQNhGV1e6HMWRpJSYyKsAQbcE37dzmHiEpD37ZA
4BvYn1ZpbS6TEYs+WF6l3GhSPXpeAtCtvq7K46JU3147xie0REXF8YedeXBi00ie
imQ81vmf74vYOoT3tTG6HX4mEYLarOJVWB3GB+M3FsO2A0hMvLj9s5EnUgAFJkpy
jkfNa2eFXotq321MtHDXH/fMdwNiqawA24+D
-----END PUBLIC KEY-----</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
</dict>
</plist>
